.btn {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  text-align: center;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 14px;
  font-family: var(--interTight);
  letter-spacing: 0px;
  white-space: nowrap;
  cursor: pointer;
  text-transform: capitalize;
  line-height: 16px;
  user-select: none;
}

.btn:link,
.btn:visited {
  color: inherit;
}

.navWhite {
  background-color: var(--white);
}
