.container {
  padding: 16rem 0;
  background-color: var(--navy);
}

.content {
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.heading {
  color: var(--white);
  max-width: 900px;
}

.right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6.4rem;
}

.mapDataContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
  width: 100%;
}

.card {
  background-color: var(--navyii);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
  min-height: 24rem;
  height: 100%;
  border-radius: 8px;
}

.stat {
  color: var(--white);
  line-height: 1;
}

.cardText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.label {
  color: var(--white);
}

.body {
  color: rgba(255, 255, 255, 0.6);
  width: 95%;
}

@media screen and (max-width: 968px) {
  .content {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}

@media screen and (max-width: 568px) {
  .container {
    padding: 10rem 0;
  }

  .mapDataContainer {
    grid-template-columns: 1fr;
  }

  .card {
    min-height: 18rem;
    padding: 2.4rem;
    gap: 2.4rem;
  }
}
